 # Data Types:



-  In computer programming language data types are  used to define what kind of data a particular variable or object can hold. 
- Data types specify the storage format, constraints, and operations that can be performed on the data.



- Some built-in Python data types are:
- Numeric data types: int, float, complex.
- String data types: str.
- Sequence types: list, tuple.
- Mapping data type: dict.
- Boolean type: bool.

In Python, a variable is a named storage location that can hold data, such as numbers, strings, lists, or other objects. Variables are used to store and manipulate data in your programs. Here's how you declare and use variables in Python:

Variable Names:
Variable names in Python can include letters, numbers, and underscores but must follow some rules:

- The name must start with a letter (a-z, A-Z) or an underscore (_).
- The name can contain letters, numbers, and underscores.
- Variable names are case-sensitive (e.g., myVariable and myvariable are different variables).
- Avoid using Python's reserved keywords (e.g., if, while, for, etc.) as variable names.

In [33]:
X = 12.5

print(X)

12.5

In [34]:
a = str(X)

print(type(a))

<class 'str'>

In [35]:
s2 = 122324
s2

122324

## Python Numbers
    
    There are three numeric types in Python:
    1)int
    2)float
    3)complex

In [36]:
x = 1   # int
y = 2.8  # float
z = 1j   # complex
a = 'python'  #String

In [37]:
type(y)

float

In [38]:
print(type(a))
type(x)

<class 'str'>

int

In [39]:
#print(type(y))
type(x)

int

In [40]:
print(type(x))
print(type(y))
print(type(z))
type(a)

<class 'int'>
<class 'float'>
<class 'complex'>

str

### Typecasting

In [41]:
x = 12763643    #int
y = 2.8  # float
z = 1j   # complex

In [42]:

#convert from int to float:
a = float(x)
a

12763643.0

In [43]:
#convert from float to int:
b = int(y)
b

2

In [44]:
 #convert from int and float to complex:
c = complex(x)
d = complex(y)
print(c,d)

(12763643+0j) (2.8+0j)

In [45]:
print(a)
print(b)
print(c)
print(d)

12763643.0
2
(12763643+0j)
(2.8+0j)

In [46]:

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'int'>
<class 'complex'>
<class 'complex'>

In [4]:
#convert complex to int 
z=5

p = int(z)
p1 = float(z)

Complex Number Cannot converted into int and float

In [5]:
a=102+0j
a1 = float(a)
a1

TypeError: float() argument must be a string or a real number, not 'complex'

# Methods of Number creation

###    Random Number
    Python does not have a random() function to make a random number, but Python has a built-in module 
    called random that can be used to make random numbers

In [3]:
import random

print(random.randrange(1, 20,2))

13

In [20]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
list(range(22))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

## How to print in python

In [ ]:
x = 'hello'      #string
y = 'world'


print(x)
print(type(y))
type(x)

hello
<class 'str'>

str

In [ ]:
print(x)
print(y)

## print function formatting types

In [1]:
#earth moves around the sun in 365 days

p = "Moon"
d = 365

print("{} moves around the sun in {} days".format(p,d)) #positional argument


print("{one} moves around the sun in {two} days".format(two = d, one = p)) #keyword argument

print(f"{p} moves around the sun in {d} days")

Moon moves around the sun in 365 days
Moon moves around the sun in 365 days
Moon moves around the sun in 365 days

In [ ]:
num = 32
name = 'Pratik'

In [48]:
print('My number is {one} ,and my name is {two}'.format(one=num,two=name))

NameError: name 'num' is not defined

In [49]:
print('My number is {}, and my name is {}'.format(num,name))

NameError: name 'num' is not defined

In [50]:
print(f'My number is:{num}, and my name is: {name}')

NameError: name 'num' is not defined

In [ ]:
name = "abhi"
age = 16
print(f"{name} is a clever boy, he is {age} years old ")
print('{} is a clever boy, he is {} years old'.format(name,age))
print("{one} is clever boy, he is {two} years old".format(one= name,two = age))

In [ ]:
x = 1234, 12, 14
print(x)

(1234, 12, 14)

## Lists
    Lists are used to store multiple items in a single variable.
    Lists are created using square brackets [].
    List items are ordered, changeable, and allow duplicate values.
    List items are indexed, the first item has index [0], the second item 
    has index [1] etc.

In [3]:
y = ["apple", "banana", "cherry", "strawberry", "blackberry","Papaya","pineapple",'cherry']

print(y) # horizontal
y      # vertical

['apple', 'banana', 'cherry', 'strawberry', 'blackberry', 'Papaya', 'pineapple', 'cherry']

['apple',
 'banana',
 'cherry',
 'strawberry',
 'blackberry',
 'Papaya',
 'pineapple',
 'cherry']

In [ ]:
print(type(y))

<class 'list'>

In [ ]:
l = ['hi',1,[1,2,5,6,7],2.4,2j] # List can cantain all formats of datatype

l

['hi', 1, [1, 2, 5, 6, 7], 2.4, 2j]

In [ ]:
my_list = ['a','b','c','d','e']
my_list

['a', 'b', 'c', 'd', 'e']

In [ ]:
my_list.append('f')
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
my_list.append(['g','h'])
my_list

['a', 'b', 'c', 'd', 'e', 'f', ['g', 'h']]

In [ ]:
my_list.append(("i", "j"))
my_list

['a', 'b', 'c', 'd', 'e', 'f', ['g', 'h'], ('i', 'j')]

# Indexing

In [ ]:
my_list[6]

['g', 'h']

In [ ]:
my_list[4]

'e'

In [ ]:
my_list[-5]

'd'

# Slicing

list [start_indexing : end indexing : step ]

In [ ]:
my_list

['a', 'b', 'c', 'd', 'e', 'f', ['g', 'h'], ('i', 'j')]

In [ ]:
my_list[:]

['a', 'b', 'c', 'd', 'e', 'f', ['g', 'h'], ('i', 'j')]

In [ ]:
my_list[0::2]

['a', 'c', 'e', ['g', 'h']]

In [ ]:
nest = [1,2,3,[4,5,['target','abd',['pqr']]]]
nest

[1, 2, 3, [4, 5, ['target', 'abd', ['pqr']]]]

In [ ]:
nest[3]

[4, 5, ['target', 'abd', ['pqr']]]

In [ ]:
nest[3][2]

['target', 'abd', ['pqr']]

In [ ]:
nest[3][2][1]

'abd'

In [ ]:
nest[3][2][2]

['pqr']

In [ ]:
m = [4,5,['f','L']]
m

[4, 5, ['f', 'L']]

In [ ]:
m[2][1]

'L'

In [ ]:
n = ['l','o','k',['a','b',['blue','orange']]]
n

['l', 'o', 'k', ['a', 'b', ['blue', 'orange']]]

In [ ]:
n[3][2]

['blue', 'orange']

In [ ]:
n[3][2][1]

'orange'

In [ ]:
n[3][1]

'b'

### Allow Duplicates
    Since lists are indexed, lists can have items with the same value:

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "Cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'Cherry']

In [1]:
# Change item in the list
thislist = ["apple", "banana", "cherry"]

thislist[2] = "blackcurrent"
thislist[1] = 'Kiwi'

thislist[0] = 'grapes'

print(thislist)

['grapes', 'Kiwi', 'blackcurrent']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:1] = ["blackcurrent"]
print(thislist)

['apple', 'blackcurrent', 'banana', 'cherry']

In [ ]:
# add list items
thislist = ["apple", "banana", "cherry"]
thislist.append(["Papaya","Kiwi"])
print(thislist)

['apple', 'banana', 'cherry', ['Papaya', 'Kiwi']]

In [ ]:
#The insert() method inserts an item at the specified index:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2,"Kiwi")
print(thislist)

['apple', 'banana', 'Kiwi', 'cherry']

In [ ]:
thislist

In [ ]:
# Remove list item
list1 = ["apple", "banana", "cherry"]
list1.remove("banana")

list1

['apple', 'cherry']

#Sort List 
#List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [1]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [38]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
thislist.sort(reverse=True)
thislist

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [3]:
number = [2,5,3,7,8,1,4,6,9]

number.sort()
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
number.sort(reverse=True)
number

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## Tuples
    Tuples are used to store multiple items in a single variable.
    A tuple is a collection which is ordered, unchangeable and allow 
    duplicate items.
    Tuples are written with round brackets.

In [5]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
x = ("apple", "banana", "cherry")
#x[2]= "kiwi"
#print(type(x))

y = list(x) #typecasting convert tuple into list

print(y)
print(type(y))


y[2]= "Kiwi"
print(y)

x1 = tuple(y)  # typecasting convert list into tuple 
print('x1 = ',x1)

['apple', 'banana', 'cherry']
<class 'list'>
['apple', 'banana', 'Kiwi']
x1 =  ('apple', 'banana', 'Kiwi')

In [7]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

## Sets
    Sets are used to store multiple items in a single variable.
    Set items are unordered, unchangeable, and do not allow duplicate values.
    A set is a collection which is unordered, unchangeable*, and unindexed.
    Set items are unchangeable, but you can remove items and add new items.
    set can be shows as curly bracket {}.

In [8]:
thisset = {"apple", "banana", "cherry","cherry","banana"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [9]:
#Add new item
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
thisset.add("papaya")
print(thisset)

{'banana', 'apple', 'orange', 'cherry', 'papaya'}

In [10]:
# Remove items
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

## Dictionaries
    Dictionaries are used to store data values in key:value pairs.
    A dictionary is a collection which is ordered*, changeable and do not 
    allow duplicates.

In [11]:
d = {'key1':'item1',
     'key2':'item2',
     'key3':'item3'}
print(d)

{'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}

In [12]:
d1= {"Name":'Pratik',
     'Age':27,
     'Education':'Graduate',
     'location':'Pune'}

d1

{'Name': 'Pratik', 'Age': 27, 'Education': 'Graduate', 'location': 'Pune'}

In [39]:
# access the item
print(d1['Name'])

Pratik

In [14]:
# Duplicates Not Allowed
#Dictionaries cannot have two items with the same key

thisdict = {
              "brand": "Ford",
              "model": "Mustang",
              "model":"Endeavor",
              "model":"gt",
              "model":"Figo",
              "year": 2000,
              "year": 1965,
              "year":2023
                            }
print(thisdict)

{'brand': 'Ford', 'model': 'Figo', 'year': 2023}

In [42]:
# change the item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


thisdict["year"] = 2023
thisdict["model"]= "Gt"

thisdict['brand'] = "BMW"
thisdict

{'brand': 'BMW', 'model': 'Gt', 'year': 2023}

In [16]:
thisdict

{'brand': 'BMW', 'model': 'Gt', 'year': 2023}

In [17]:
# add the item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
   "year": 1964
}


thisdict["color"] ="Blue"

thisdict["drive"]= "all_wheel"

thisdict['Contry'] = 'Germany'
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Blue', 'drive': 'all_wheel', 'Contry': 'Germany'}

In [18]:
# Remove the item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
   "year": 1964
}


thisdict.pop("year")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

### Operators

In [19]:
#addition

2+3

5

In [20]:
#substraction

2342-1576

766

In [21]:
#Multiplication

12*5

60

In [22]:
#Divide

21/5

4.2

In [23]:
#Floor Division

21 // 5           # Quotient

4

In [24]:
#Modulus

21 % 5  
# remainder

1

## Comparison Operators

In [25]:
1 <= 2

True

In [26]:
1 >= 2

False

In [27]:
'hi' == 'bye'   # equally equals to

False

In [28]:
'hi' != 'bye'   #not equals to

True

In [29]:
"hi" == "Hi"

False

In [30]:
'Data_Science'

'C' in "Data_Science"  # cheking

False

## Logic Operators	
   
and Returns True if both statements are true	

or	Returns True if one of the statements is true	

not	 Reverse the result, returns False if the result is true

In [31]:
(1 > 2) and (2 > 3) # false and true

False

In [32]:
(1 < 2) or (2 == 3)

True

In [33]:
(1 == 2) or (2 == 3) or ( 4 == 4)

True

In [44]:
not((1 == 2)or (2 == 3) or (4 == 4))

False

In [35]:
not(False)

True

In [36]:
not(True)

False

In [46]:
((10>2) and (30>4) and (4==4))

True