# Function

1)A function is a block of code which only runs when it is called.

2)You can pass data, known as parameters, into a function.

3)A function can return data as a result.

In [2]:
def my_function():

    print("Hello from a function")
    
    
    
my_function()   # calling of function

Hello from a function

In [15]:
def my_function():
    return("Hello from a function")
    
my_function()

'Hello from a function'

# Print VS Return

In [3]:
#print is inbuilt function 
#return is Keyword

In [16]:
def addition(x,y):
    print(x+y)
    
    
addition(3,5)

8

In [3]:
def addition(x,y):
    return(x+y)
    
result = addition(10,5)    
print(result)

15

In [18]:
def addition(x,y):
    print(x+y)
    
result1 = addition(3,9)    
print(result1)

12
None

In [4]:
result*3

45

In [46]:
result+8

23

In [47]:
result

15

## Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [19]:
def my_function(fname):
    print(" Hi " , fname ,'welcome to the future!!!')


my_function("Rocky")
my_function("Linus")
my_function("omkar")

 Hi  Rocky welcome to the future!!!
 Hi  Linus welcome to the future!!!
 Hi  omkar welcome to the future!!!

In [22]:
def my_function(f_name,l_name):
    print( l_name, f_name)
    
my_function("Supriya","Singh")
my_function("Rohit","Sharma")

Singh Supriya
Sharma Rohit

In [23]:
def add(a,b):
    add = a+b
    print(add)
 
        
add(10,20)
add(45,899)
add(10,4400)

30
944
4410

In [20]:
def add(a,b):
    return(a+b)
    
result =  add(20,40)

add(20,40)

60

In [21]:
result

60

### Arbitrary Positional arguments, *args
- If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

- What *args allows you to do is take in more arguments than the number of formal arguments that you previously defined.

In [ ]:
def my_function(*fname):
    print(" Hi " , fname)


my_function("Rocky")
my_function("Linus")
my_function("ram","kisan","sharma","gupta")

:

In [ ]:
def my_function(*cars):
    print("The most selling cars is " + cars[1])



my_function("Wagnor","santro","swift")

:

In [ ]:
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)

    
#You will get correct output because argument is given in order

#print("Case_1:")
nameAge("Prince", 20)

# You will get incorrect output because argument is not in order
print()
print()
#print("\nCase_2:")
nameAge(20, "Prince")

:

### Keywords Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [32]:

def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)

    
nameAge(name="Prince", age=20)
print()
nameAge(age=20, name="Prince")

Hi, I am Prince
My age is  20

Hi, I am Prince
My age is  20

In [33]:
def my_function(car3,car2,car1):
    print("The most selling car is " + car2)
    
my_function(car1="Wagnor",car2="Tiago",car3 ="Punch")

The most selling car is Tiago

#### Arbiratry Keyword Argument, ** kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [10]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
    print("His first name is " + kid["fname"])
    print('His Name is ', kid)
    
my_function(fname = "Akshay", lname = "Hajare")
my_function(lname = "Hajare",fname = "Akshay")

His last name is Hajare
His first name is Akshay
His Name is  {'fname': 'Akshay', 'lname': 'Hajare'}
His last name is Hajare
His first name is Akshay
His Name is  {'lname': 'Hajare', 'fname': 'Akshay'}

In [ ]:
## more example

In [52]:
def my_function(country = "Norway"):
    print("I am from ", country)

my_function("Scotland")
my_function("India")
my_function()
my_function("Brazil")
my_function()

I am from  Scotland
I am from  India
I am from  Norway
I am from  Brazil
I am from  Norway

In [39]:
def add_numbers(a, b):
    return a + b
result=add_numbers(5,10)
print(result)

15

In [40]:
def add_numbers(a, b):
    return a + b
add_numbers(10,20)

30

In [12]:
number = int(input("Enter your number:"))

def is_even(number):
    if number%2==0:
        return True
    else:
        return False
    
print(is_even(number))

Enter your number:35
False

In [30]:
def find_maximum(a, b, c, d):
    max_num = max(a, b, c, d)
    return max_num


result = find_maximum(10, 14, 80, 50)

print(result)

80

In [21]:
def reverse_string(input_str):
    return input_str[::-1]

result = reverse_string("Happy New Year")
print(result)

raeY weN yppaH

# Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

lambda input:expression

In [13]:
x = lambda a : a * 10
print(x(30))

300

In [55]:
add = lambda x, y: x + y
print(add(144, 100))

244

In [47]:
x=3
if x%2 == 0:
    print("even")
else:
    print("odd")

odd

In [15]:
# lambda if else
b = lambda x : "Even" if x%2 == 0 else "odd"
b(41)

'odd'

In [16]:
# Sorting a list of tuples using lambda function
students = [('John', 21), ('Jane', 19), ('Alice', 20)]

#students[0]

students.sort(key = lambda x: x[0]) #(0,1)
print(students)

[('Alice', 20), ('Jane', 19), ('John', 21)]

In [51]:
def myfunc(n):
    return lambda a : a * n

In [33]:
def myfunc(n):
    return lambda a : a * n

add = myfunc(33)

print(add(22))

726

In [36]:
def myfunc(n):
    return lambda a : a ** n

b = myfunc(3)

print(b(10))

1000

In [54]:
mytripler = lambda a:a*3
print(mytripler(9))

27

#### The filter() function takes two arguments: a function and an iterable. It applies the function to each element in the iterable and returns a new iterable containing only the elements for which the function returns 'True'.
#### The map() function takes two arguments: a function and an iterable. It applies the function to each element in the iterable and returns a new iterable with the transformed values.

In [18]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 != 0, numbers))  # Filter even numbers
squared_numbers = list(map(lambda x: x*2, numbers))  # Square each number
print(even_numbers)  # Output: [2, 4, 6, 8, 10]
print(squared_numbers)  # Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [57]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_numbers = list(map(lambda x: "Even" if x%2 == 0 else "odd", numbers))
squared_numbers

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even']

In [22]:
# map
cars=[{"car":"Wagnor","color":"red"}
      ,
      {"car":"Tiago","color":"black"}
      ,
      {"car":"Punch","color":"Orange"}]

In [21]:

list(map(lambda cars:cars["car"],cars))

['Wagnor', 'Tiago', 'Punch']

In [23]:
# filter
cars = ["Wagonr","Tiago","Punch"]

list(filter(lambda x: 'u' in x ,cars))

['Punch']

In [39]:
import functools

In [42]:
# Reduce
L = [1,2,3,4,5]
functools.reduce(lambda x,y:x+y,L)

15

In [ ]:
x =1 
y=2 
[3,3,4,5]

In [ ]:
x=3
y=3
[6,4,5]

In [ ]:
x=6
y=4
[10,5]

In [ ]:
x=10
y = 5
[15]

In [69]:
L1 = [12,34,56,11]
functools.reduce(lambda x,y:x if x<y else y,L1)

11

##  List comprehension
List comprehension is a concise way to create lists.

It allows you to create a new list by applying an expression to each element of an existing iterable (such as a list, tuple, or range). 

while also potentially filtering elements based on certain conditions.

In [ ]:
#new_list = [expression for item in iterable if condition]

In [70]:
L = [1,2,4,5,6]
number = [x*2 for x in L]
number

[2, 4, 8, 10, 12]

In [70]:
L2 = [x*2 for x in range(10)]
L2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
L3 = [x*2 for x in range(10) if x%2!=0] #odd number 
L3

[2, 6, 10, 14, 18]

In [24]:
fruit = ['Apple','Orange','Mango']
L4 = [fruit for fruit in fruit if fruit[1]=='a']

L4

['Mango']