# Python Loops
    Python has two primitive loop commands:

    1)while loops
    2)for loops
    
Loops allows the execution of a statement or a group of statement multiple times.
In order to enter the loop there are certain conditions defined in the begining.
once the condition becomes false the loop stops and the control moves out of the loop

## The While loop
     
     
With the while loop we can execute a set of statements as long as a condition is true.

In [1]:
x = 1

while x < 20:
    print(x)
    x += 1  #increment

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
# Print x as long as x is less than x
# remember to increment i, or else the loop will continue forever.
x = 1

while x <= 20:
    print(x)
    x+=5

1
6
11
16

### The Break Statement
With the break statement we can stop the loop even if the while condition is true:

In [10]:
x = 0
while x < 20:
    x+=1
    
    if x == 15:
        break
    
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [4]:
count = 0
while count < 20:
    count += 1
    if count >10:
        break  # Terminates the loop completely

    print(count)

1
2
3
4
5
6
7
8
9
10

In [2]:
number = 0
while number < 10:
    number += 1
    if number == 7:
        break  # Terminate the loop when the number is 7
    
    print("number :",number)

number : 1
number : 2
number : 3
number : 4
number : 5
number : 6

### The Continue Statement
With the continue statement we can stop the current iteration, and continue with the next

In [1]:
x = 0
while x < 10:
    x+=1
   # print(x)
    if x ==  5:
        continue
    print(x)

1
2
3
4
5
6
7
8
9
10

In [8]:
count = 0

while count < 5:
    count += 1

    if count < 3:
        continue  # Skips the rest of the code in this iteration and continues with the next iteration
    print('count:',count)

count: 3
count: 4
count: 5

In [18]:
# else With the else statement we can run a block of code once when the condition no longer is true:

x = 1
while x < 10:
    print(x)
    x += 1
    
else:
    print("x is no longer less than 10")

1
2
3
4
5
6
7
8
9
x is no longer less than 10

In [20]:
number = 1
while number < 10:
    number += 1

    if number % 2 == 0:
        continue  # Skip even numbers and continue with the next iteration

    print("Number:", number)

Number: 3
Number: 5
Number: 7
Number: 9

## Python For loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [9]:
colors = ["Red","Green","Blue","Orange","White"]
for i in colors:
    print(i)

Red
Green
Blue
Orange
White

In [ ]:
# Break is used to terminate the loop prematurely, regardless of the loop condition.

In [11]:
colors = ["Red","Green","Blue","Orange","White"]
for x in colors:
    print(x)
    if x=="Orange":
        break
    #print(x)

Red
Green
Blue
Orange

In [16]:
colors = ["Red","Green","Blue","Orange","White"]
for x in colors:
    if x == "Orange":
        break
    print(x)

Red
Green
Blue

In [27]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 4:
        break
    print(num)

1
2
3

In [ ]:
# Continue is used to skip the remaining statements in the current iteration and move on to the next iteration of the loop

In [30]:
colors = ["Red","Green","Blue","orange","White"]
for x in colors:
    if x == "Green":
        continue
    print(x)

Red
Blue
orange
White

In [11]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:
        continue
    print(num)

1
2
4
5

### find sum of number

In [12]:
sum = 0
for i in range(1,11):
    sum += i

print(sum)

55

In [16]:
a = int(input('enter number :'))
sum =  0

for i in range(a+1):
    sum += i
print(sum)

:

### The Range Function
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [24]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [25]:
for x in range(3,11):
    print(x)

3
4
5
6
7
8
9
10

In [18]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [21]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [47]:
for x in range(5,12,2):
    print(x)

5
7
9
11

In [36]:
for x in range(3,31,3):
    print(x)

3
6
9
12
15
18
21
24
27
30

In [22]:
#3 X 1 = 3
for i in range(1,11):
    print( "3 x", i ,"=", 3*i )

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [24]:
for x in range(15,1,-4):
    print(x)

15
11
7
3

In [52]:
for x in range(-10,11,2):
    print(x)

-10
-8
-6
-4
-2
0
2
4
6
8
10

In [11]:
for x in range(12,-13,-3):
    print(x)

12
9
6
3
0
-3
-6
-9
-12

In [39]:
# Else in for loop
# The else keyword in a for loop specifies a block of code to be executed when the loop is finished:
for x in range(11,1,-2):
    print(x)
else:
    print("Finally finished!")

11
9
7
5
3
Finally finished!

# Print Formatting

In [13]:
#earth is revoles around the sun in 365 days

a = 'Earth'
b = 365

In [5]:
print("{} is revoles around the sun in {} days".format(b,a))

NameError: name 'b' is not defined

In [3]:
print("{one} is revoles around the sun in {two} days".format(two=b,one=a))

NameError: name 'b' is not defined

In [18]:
print(f"{a} is revoles around the sun in {b} days")

Earth is revoles around the sun in 365 days

range(n+1)

# Great!